Repository petzich/docker-pre-commit-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, yamllint

.pre-commit-config.yaml:

---
fail_fast: false
repos:
  - repo: local
    hooks:
      - id: docker-compose-check
        name: Check docker-compose files
        entry: /compose-check.sh
        verbose: true
        language: script
        files: 'docker-compose.*\.ya?ml'
  - repo: local
    hooks:
      - id: shellcheck
        name: Run shellcheck
        entry: shellcheck
        language: system
        verbose: true
        types: [shell]
  - repo: local
    hooks:
      - id: shfmt-check
        name: Check shell script format with shfmt
        verbose: true
        entry: /usr/local/bin/shfmt
        args: [-d]
        language: system
        types: [shell]
  - repo: local
    hooks:
      - id: shfmt-fix
        name: Check shell script format with shfmt
        verbose: true
        entry: /usr/local/bin/shfmt
        args: [-w]
        stages: [manual]
        language: system
        types: [shell]
  - repo: local
    hooks:
      - id: yamllint
        name: Run yamllint on yaml files
        entry: yamllint
        language: system
        verbose: true
        types: [yaml]

Switch to upstream version 1.15.2-9
  Dockerfile
Due: none

Move shell script to /usr/local/bin
  .pre-commit-config.yaml
  Dockerfile
Due: yamllint

Add invalid docker-compose file to check filtering
  test/docker-compose.override.invalid.yml
Due: docker-compose-check, yamllint

Only check files with an exact filename.
  .pre-commit-config.yaml
Due: yamllint

shellcheck: v0.6.0 → v0.7.2
  Dockerfile
Due: none

shfmt: v2.6.4 → v3.4.0
  Dockerfile
Due: none
